a:link {
    background-color: transparent;
    text-decoration: none;
}

:link {
    color: #0000EE;
}

:visited {
    color: #0000EE;
}

html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    svg {
        width: 40%;
    }
 }


